*.DS_Store

/web/youdianpu_web/node_modules/
/web/youdianpu_web/.vscode
/web/youdianpu_web/.DS_Store


/android/youdianpu_android/.DS_Store
/android/youdianpu_android/.gradle
/android/youdianpu_android/.idea
/android/youdianpu_android//build/
/android/youdianpu_android//app/build/
/android/youdianpu_android/app/app.iml
/android/youdianpu_android/local.properties
/android/youdianpu_android/*.iml


/*/target/
/*/log/
/*/.settings/
/*/.project


/reactNative/youdianpu_rn/node_modules/
/reactNative/youdianpu_rn/.vscode
/reactNative/youdianpu_rn/.DS_Store

