<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.mdesigner.common.mapper.AdminFunctionPriceMapper">
  <!-- 
  	eviction：缓存回收策略
		- LRU：最少使用原则，移除最长时间不使用的对象
		- FIFO：先进先出原则，按照对象进入缓存顺序进行回收
		- SOFT：软引用，移除基于垃圾回收器状态和软引用规则的对象
		- WEAK：弱引用，更积极的移除移除基于垃圾回收器状态和弱引用规则的对象
	flushInterval：刷新时间间隔，单位为毫秒，这里配置的100毫秒。如果不配置，那么只有在进行数据库修改操作才会被动刷新缓存区
	size：引用额数目，代表缓存最多可以存储的对象个数
	readOnly：是否只读，如果为true，则所有相同的sql语句返回的是同一个对象（有助于提高性能，但并发操作同一条数据时，可能不安全），如果设置为false，则相同的sql，后面访问的是cache的clone副本。
  <cache eviction="LRU" size="1024" readOnly="true"/>
  -->	
  <resultMap id="BaseResultMap" type="com.weichu.mdesigner.common.entity.AdminFunctionPrice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="function_id" jdbcType="INTEGER" property="functionId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="save_price" jdbcType="DECIMAL" property="savePrice" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="price_desc" jdbcType="VARCHAR" property="priceDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, function_id, price, save_price, month, price_desc, create_time
  </sql>
  <select id="selectByExample" parameterType="com.weichu.mdesigner.common.entity.AdminFunctionPriceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from admin_function_price
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin_function_price
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin_function_price
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.weichu.mdesigner.common.entity.AdminFunctionPriceExample">
    delete from admin_function_price
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weichu.mdesigner.common.entity.AdminFunctionPrice">
    insert into admin_function_price (id, function_id, price, 
      save_price, month, price_desc, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{functionId,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      #{savePrice,jdbcType=DECIMAL}, #{month,jdbcType=INTEGER}, #{priceDesc,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weichu.mdesigner.common.entity.AdminFunctionPrice">
    insert into admin_function_price
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="functionId != null">
        function_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="savePrice != null">
        save_price,
      </if>
      <if test="month != null">
        month,
      </if>
      <if test="priceDesc != null">
        price_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="functionId != null">
        #{functionId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="savePrice != null">
        #{savePrice,jdbcType=DECIMAL},
      </if>
      <if test="month != null">
        #{month,jdbcType=INTEGER},
      </if>
      <if test="priceDesc != null">
        #{priceDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weichu.mdesigner.common.entity.AdminFunctionPriceExample" resultType="java.lang.Long">
    select count(*) from admin_function_price
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.weichu.mdesigner.common.entity.AdminFunctionPrice">
    update admin_function_price
    <set>
      <if test="functionId != null">
        function_id = #{functionId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="savePrice != null">
        save_price = #{savePrice,jdbcType=DECIMAL},
      </if>
      <if test="month != null">
        month = #{month,jdbcType=INTEGER},
      </if>
      <if test="priceDesc != null">
        price_desc = #{priceDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weichu.mdesigner.common.entity.AdminFunctionPrice">
    update admin_function_price
    set function_id = #{functionId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      save_price = #{savePrice,jdbcType=DECIMAL},
      month = #{month,jdbcType=INTEGER},
      price_desc = #{priceDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>