<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.mdesigner.common.mapper.MemberRankConfigMapper">
  <resultMap id="BaseResultMap" type="com.weichu.mdesigner.common.entity.MemberRankConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="merchant_id" jdbcType="INTEGER" property="merchantId" />
    <result column="member_rank" jdbcType="INTEGER" property="memberRank" />
    <result column="member_point" jdbcType="INTEGER" property="memberPoint" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, merchant_id, member_rank, member_point, create_time, modify_time
  </sql>
  <select id="selectByExample" parameterType="com.weichu.mdesigner.common.entity.MemberRankConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from member_rank_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from member_rank_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from member_rank_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.weichu.mdesigner.common.entity.MemberRankConfigExample">
    delete from member_rank_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weichu.mdesigner.common.entity.MemberRankConfig">
    insert into member_rank_config (id, merchant_id, member_rank, 
      member_point, create_time, modify_time
      )
    values (#{id,jdbcType=INTEGER}, #{merchantId,jdbcType=INTEGER}, #{memberRank,jdbcType=INTEGER}, 
      #{memberPoint,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.weichu.mdesigner.common.entity.MemberRankConfig">
    insert into member_rank_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="memberRank != null">
        member_rank,
      </if>
      <if test="memberPoint != null">
        member_point,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="memberRank != null">
        #{memberRank,jdbcType=INTEGER},
      </if>
      <if test="memberPoint != null">
        #{memberPoint,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weichu.mdesigner.common.entity.MemberRankConfigExample" resultType="java.lang.Long">
    select count(*) from member_rank_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.weichu.mdesigner.common.entity.MemberRankConfig">
    update member_rank_config
    <set>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="memberRank != null">
        member_rank = #{memberRank,jdbcType=INTEGER},
      </if>
      <if test="memberPoint != null">
        member_point = #{memberPoint,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weichu.mdesigner.common.entity.MemberRankConfig">
    update member_rank_config
    set merchant_id = #{merchantId,jdbcType=INTEGER},
      member_rank = #{memberRank,jdbcType=INTEGER},
      member_point = #{memberPoint,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 以下是自己写的 -->
  <!-- 批量初始化会员等级配置信息 -->
  <insert id="batchAdd">
  	insert into member_rank_config(merchant_id, member_rank, member_point, create_time)
		select #{merchantId,jdbcType=INTEGER}, member_rank, member_point, now() from member_rank_config where merchant_id = 0
  </insert>
  <!-- 修改等级对应的积分 -->
  <update id="updatePoint">
  	update member_rank_config set member_point = #{memberPoint,jdbcType=INTEGER} where member_rank = #{memberRank,jdbcType=INTEGER}
  		and merchant_id = #{merchantId,jdbcType=INTEGER}
  </update>
</mapper>