<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.mdesigner.common.mapper.MerchantAuditMapper">
  <resultMap id="BaseResultMap" type="com.weichu.mdesigner.common.entity.MerchantAudit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="merchant_id" jdbcType="INTEGER" property="merchantId" />
    <result column="audit_date" jdbcType="TIMESTAMP" property="auditDate" />
    <result column="audit_status" jdbcType="INTEGER" property="auditStatus" />
    <result column="audit_remark" jdbcType="VARCHAR" property="auditRemark" />
    <result column="audit_account" jdbcType="VARCHAR" property="auditAccount" />
    <result column="audit_type" jdbcType="INTEGER" property="auditType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, merchant_id, audit_date, audit_status, audit_remark, audit_account, audit_type
  </sql>
  <select id="selectByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantAuditExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from merchant_audit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_audit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merchant_audit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantAuditExample">
    delete from merchant_audit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weichu.mdesigner.common.entity.MerchantAudit">
    insert into merchant_audit (id, merchant_id, audit_date, 
      audit_status, audit_remark, audit_account, 
      audit_type)
    values (#{id,jdbcType=INTEGER}, #{merchantId,jdbcType=INTEGER}, #{auditDate,jdbcType=TIMESTAMP}, 
      #{auditStatus,jdbcType=INTEGER}, #{auditRemark,jdbcType=VARCHAR}, #{auditAccount,jdbcType=VARCHAR}, 
      #{auditType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.weichu.mdesigner.common.entity.MerchantAudit">
    insert into merchant_audit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="auditDate != null">
        audit_date,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="auditRemark != null">
        audit_remark,
      </if>
      <if test="auditAccount != null">
        audit_account,
      </if>
      <if test="auditType != null">
        audit_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="auditDate != null">
        #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditRemark != null">
        #{auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="auditAccount != null">
        #{auditAccount,jdbcType=VARCHAR},
      </if>
      <if test="auditType != null">
        #{auditType,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey keyProperty="id" resultType="java.lang.Integer">
      select LAST_INSERT_ID() as id
    </selectKey>
  </insert>
  <select id="countByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantAuditExample" resultType="java.lang.Long">
    select count(*) from merchant_audit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.weichu.mdesigner.common.entity.MerchantAudit">
    update merchant_audit
    <set>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="auditDate != null">
        audit_date = #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditRemark != null">
        audit_remark = #{auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="auditAccount != null">
        audit_account = #{auditAccount,jdbcType=VARCHAR},
      </if>
      <if test="auditType != null">
        audit_type = #{auditType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weichu.mdesigner.common.entity.MerchantAudit">
    update merchant_audit
    set merchant_id = #{merchantId,jdbcType=INTEGER},
      audit_date = #{auditDate,jdbcType=TIMESTAMP},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      audit_remark = #{auditRemark,jdbcType=VARCHAR},
      audit_account = #{auditAccount,jdbcType=VARCHAR},
      audit_type = #{auditType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>