<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.mdesigner.common.mapper.MerchantCouponConsumeMapper">
  <resultMap id="BaseResultMap" type="com.weichu.mdesigner.common.entity.MerchantCouponConsume">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="merchant_id" jdbcType="INTEGER" property="merchantId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="coupon_no" jdbcType="VARCHAR" property="couponNo" />
    <result column="coupon_price" jdbcType="DECIMAL" property="couponPrice" />
    <result column="coupon_status" jdbcType="INTEGER" property="couponStatus" />
    <result column="consume_time" jdbcType="TIMESTAMP" property="consumeTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, merchant_id, order_no, coupon_no, coupon_price, coupon_status, consume_time, 
    remark, create_time, modify_time
  </sql>
  <select id="selectByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantCouponConsumeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from merchant_coupon_consume
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_coupon_consume
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merchant_coupon_consume
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantCouponConsumeExample">
    delete from merchant_coupon_consume
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weichu.mdesigner.common.entity.MerchantCouponConsume">
    insert into merchant_coupon_consume (id, merchant_id, order_no, 
      coupon_no, coupon_price, coupon_status, 
      consume_time, remark, create_time, 
      modify_time)
    values (#{id,jdbcType=INTEGER}, #{merchantId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, 
      #{couponNo,jdbcType=VARCHAR}, #{couponPrice,jdbcType=DECIMAL}, #{couponStatus,jdbcType=INTEGER}, 
      #{consumeTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weichu.mdesigner.common.entity.MerchantCouponConsume">
    insert into merchant_coupon_consume
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="couponNo != null">
        coupon_no,
      </if>
      <if test="couponPrice != null">
        coupon_price,
      </if>
      <if test="couponStatus != null">
        coupon_status,
      </if>
      <if test="consumeTime != null">
        consume_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="couponNo != null">
        #{couponNo,jdbcType=VARCHAR},
      </if>
      <if test="couponPrice != null">
        #{couponPrice,jdbcType=DECIMAL},
      </if>
      <if test="couponStatus != null">
        #{couponStatus,jdbcType=INTEGER},
      </if>
      <if test="consumeTime != null">
        #{consumeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <selectKey keyProperty="id" resultType="java.lang.Integer">
      select LAST_INSERT_ID() as id
    </selectKey>
  </insert>
  <select id="countByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantCouponConsumeExample" resultType="java.lang.Long">
    select count(*) from merchant_coupon_consume
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.weichu.mdesigner.common.entity.MerchantCouponConsume">
    update merchant_coupon_consume
    <set>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="couponNo != null">
        coupon_no = #{couponNo,jdbcType=VARCHAR},
      </if>
      <if test="couponPrice != null">
        coupon_price = #{couponPrice,jdbcType=DECIMAL},
      </if>
      <if test="couponStatus != null">
        coupon_status = #{couponStatus,jdbcType=INTEGER},
      </if>
      <if test="consumeTime != null">
        consume_time = #{consumeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weichu.mdesigner.common.entity.MerchantCouponConsume">
    update merchant_coupon_consume
    set merchant_id = #{merchantId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=VARCHAR},
      coupon_no = #{couponNo,jdbcType=VARCHAR},
      coupon_price = #{couponPrice,jdbcType=DECIMAL},
      coupon_status = #{couponStatus,jdbcType=INTEGER},
      consume_time = #{consumeTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 以上是自动生成的,一下是自己写的 -->
  <!-- 支付成功之后将状态改为2 已抵扣 -->
  <update id="paySuccess">
  	update merchant_coupon_consume set coupon_status = 2, consume_time = #{consumeTime,jdbcType=TIMESTAMP}
  		where order_no = #{orderNo,jdbcType=VARCHAR} and merchant_id = #{merchantId,jdbcType=INTEGER}
  </update>
</mapper>