<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.mdesigner.common.mapper.MerchantQueueMapper">
  <resultMap id="BaseResultMap" type="com.weichu.mdesigner.common.entity.MerchantQueue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="queue_name" jdbcType="VARCHAR" property="queueName" />
    <result column="queue_code" jdbcType="VARCHAR" property="queueCode" />
    <result column="average_wait_time" jdbcType="INTEGER" property="averageWaitTime" />
    <result column="total_number" jdbcType="INTEGER" property="totalNumber" />
    <result column="merchant_id" jdbcType="INTEGER" property="merchantId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, queue_name, queue_code, average_wait_time, total_number, merchant_id, description, 
    create_time
  </sql>
  <select id="selectByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantQueueExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from merchant_queue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_queue
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merchant_queue
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantQueueExample">
    delete from merchant_queue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weichu.mdesigner.common.entity.MerchantQueue">
    insert into merchant_queue (id, queue_name, queue_code, 
      average_wait_time, total_number, merchant_id, 
      description, create_time)
    values (#{id,jdbcType=INTEGER}, #{queueName,jdbcType=VARCHAR}, #{queueCode,jdbcType=VARCHAR}, 
      #{averageWaitTime,jdbcType=INTEGER}, #{totalNumber,jdbcType=INTEGER}, #{merchantId,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weichu.mdesigner.common.entity.MerchantQueue">
    insert into merchant_queue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="queueName != null">
        queue_name,
      </if>
      <if test="queueCode != null">
        queue_code,
      </if>
      <if test="averageWaitTime != null">
        average_wait_time,
      </if>
      <if test="totalNumber != null">
        total_number,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="queueName != null">
        #{queueName,jdbcType=VARCHAR},
      </if>
      <if test="queueCode != null">
        #{queueCode,jdbcType=VARCHAR},
      </if>
      <if test="averageWaitTime != null">
        #{averageWaitTime,jdbcType=INTEGER},
      </if>
      <if test="totalNumber != null">
        #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <selectKey keyProperty="id" resultType="java.lang.Integer">
      select LAST_INSERT_ID() as id
    </selectKey>
  </insert>
  <select id="countByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantQueueExample" resultType="java.lang.Long">
    select count(*) from merchant_queue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.weichu.mdesigner.common.entity.MerchantQueue">
    update merchant_queue
    <set>
      <if test="queueName != null">
        queue_name = #{queueName,jdbcType=VARCHAR},
      </if>
      <if test="queueCode != null">
        queue_code = #{queueCode,jdbcType=VARCHAR},
      </if>
      <if test="averageWaitTime != null">
        average_wait_time = #{averageWaitTime,jdbcType=INTEGER},
      </if>
      <if test="totalNumber != null">
        total_number = #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weichu.mdesigner.common.entity.MerchantQueue">
    update merchant_queue
    set queue_name = #{queueName,jdbcType=VARCHAR},
      queue_code = #{queueCode,jdbcType=VARCHAR},
      average_wait_time = #{averageWaitTime,jdbcType=INTEGER},
      total_number = #{totalNumber,jdbcType=INTEGER},
      merchant_id = #{merchantId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>