<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.mdesigner.common.mapper.MerchantUserChangeHisMapper">
  <resultMap id="BaseResultMap" type="com.weichu.mdesigner.common.entity.MerchantUserChangeHis">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="merchant_id" jdbcType="INTEGER" property="merchantId" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="logo_path" jdbcType="VARCHAR" property="logoPath" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="merchant_audit_id" jdbcType="INTEGER" property="merchantAuditId" />
    <result column="del_image_ids" jdbcType="VARCHAR" property="delImageIds" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, merchant_id, merchant_name, address, logo_path, remark, merchant_audit_id, del_image_ids, 
    create_time, audit_time
  </sql>
  <select id="selectByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantUserChangeHisExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from merchant_user_change_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_user_change_his
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merchant_user_change_his
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantUserChangeHisExample">
    delete from merchant_user_change_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weichu.mdesigner.common.entity.MerchantUserChangeHis">
    insert into merchant_user_change_his (id, merchant_id, merchant_name, 
      address, logo_path, remark, 
      merchant_audit_id, del_image_ids, create_time, 
      audit_time)
    values (#{id,jdbcType=INTEGER}, #{merchantId,jdbcType=INTEGER}, #{merchantName,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{logoPath,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{merchantAuditId,jdbcType=INTEGER}, #{delImageIds,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{auditTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weichu.mdesigner.common.entity.MerchantUserChangeHis">
    insert into merchant_user_change_his
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="merchantName != null">
        merchant_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="logoPath != null">
        logo_path,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="merchantAuditId != null">
        merchant_audit_id,
      </if>
      <if test="delImageIds != null">
        del_image_ids,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="merchantName != null">
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="logoPath != null">
        #{logoPath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="merchantAuditId != null">
        #{merchantAuditId,jdbcType=INTEGER},
      </if>
      <if test="delImageIds != null">
        #{delImageIds,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantUserChangeHisExample" resultType="java.lang.Long">
    select count(*) from merchant_user_change_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.weichu.mdesigner.common.entity.MerchantUserChangeHis">
    update merchant_user_change_his
    <set>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="merchantName != null">
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="logoPath != null">
        logo_path = #{logoPath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="merchantAuditId != null">
        merchant_audit_id = #{merchantAuditId,jdbcType=INTEGER},
      </if>
      <if test="delImageIds != null">
        del_image_ids = #{delImageIds,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weichu.mdesigner.common.entity.MerchantUserChangeHis">
    update merchant_user_change_his
    set merchant_id = #{merchantId,jdbcType=INTEGER},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      logo_path = #{logoPath,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      merchant_audit_id = #{merchantAuditId,jdbcType=INTEGER},
      del_image_ids = #{delImageIds,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      audit_time = #{auditTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 以上是自动生成,以下是自己写的 -->
  <!-- 更新审核id -->
  <update id="updateAuditId">
  	update merchant_user_change_his set merchant_audit_id = #{auditId,jdbcType=INTEGER} where merchant_id = #{merchantId,jdbcType=INTEGER}
  </update>
</mapper>