<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.mdesigner.common.mapper.MerchantNoticeMapper">
  <resultMap id="BaseResultMap" type="com.weichu.mdesigner.common.entity.MerchantNotice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="notice_title" jdbcType="VARCHAR" property="noticeTitle" />
    <result column="notice_time" jdbcType="TIMESTAMP" property="noticeTime" />
    <result column="notice_detail_link" jdbcType="VARCHAR" property="noticeDetailLink" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.weichu.mdesigner.common.entity.MerchantNotice">
    <result column="notice_content" jdbcType="LONGVARCHAR" property="noticeContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, notice_title, notice_time, notice_detail_link
  </sql>
  <sql id="Blob_Column_List">
    notice_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.weichu.mdesigner.common.entity.MerchantNoticeExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from merchant_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantNoticeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from merchant_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from merchant_notice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merchant_notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantNoticeExample">
    delete from merchant_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weichu.mdesigner.common.entity.MerchantNotice">
    insert into merchant_notice (id, notice_title, notice_time, 
      notice_detail_link, notice_content)
    values (#{id,jdbcType=INTEGER}, #{noticeTitle,jdbcType=VARCHAR}, #{noticeTime,jdbcType=TIMESTAMP}, 
      #{noticeDetailLink,jdbcType=VARCHAR}, #{noticeContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.weichu.mdesigner.common.entity.MerchantNotice">
    insert into merchant_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="noticeTitle != null">
        notice_title,
      </if>
      <if test="noticeTime != null">
        notice_time,
      </if>
      <if test="noticeDetailLink != null">
        notice_detail_link,
      </if>
      <if test="noticeContent != null">
        notice_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="noticeTitle != null">
        #{noticeTitle,jdbcType=VARCHAR},
      </if>
      <if test="noticeTime != null">
        #{noticeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="noticeDetailLink != null">
        #{noticeDetailLink,jdbcType=VARCHAR},
      </if>
      <if test="noticeContent != null">
        #{noticeContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantNoticeExample" resultType="java.lang.Long">
    select count(*) from merchant_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.weichu.mdesigner.common.entity.MerchantNotice">
    update merchant_notice
    <set>
      <if test="noticeTitle != null">
        notice_title = #{noticeTitle,jdbcType=VARCHAR},
      </if>
      <if test="noticeTime != null">
        notice_time = #{noticeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="noticeDetailLink != null">
        notice_detail_link = #{noticeDetailLink,jdbcType=VARCHAR},
      </if>
      <if test="noticeContent != null">
        notice_content = #{noticeContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.weichu.mdesigner.common.entity.MerchantNotice">
    update merchant_notice
    set notice_title = #{noticeTitle,jdbcType=VARCHAR},
      notice_time = #{noticeTime,jdbcType=TIMESTAMP},
      notice_detail_link = #{noticeDetailLink,jdbcType=VARCHAR},
      notice_content = #{noticeContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weichu.mdesigner.common.entity.MerchantNotice">
    update merchant_notice
    set notice_title = #{noticeTitle,jdbcType=VARCHAR},
      notice_time = #{noticeTime,jdbcType=TIMESTAMP},
      notice_detail_link = #{noticeDetailLink,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 以下是自己写的 -->
  <!-- 查询大于用户注册日期的通知,带上了已读\未读状态 -->
  <select id="selectAllNotice" resultType="hashmap">
	select n.id, n.notice_title, n.notice_content, n.notice_detail_link,
		date_format(n.notice_time,'%Y-%m-%d %H:%i:%S') as notice_time,
		(case when s.merchant_id=#{merchantId} then 1 
		else 0
		end) as status FROM merchant_notice n left outer join merchant_notice_status s
		on n.id=s.notice_id, merchant_user u where u.id=#{merchantId} and n.notice_time>=u.register_time
		order by notice_time desc
  </select>
  
  <!-- 未读通知与消息 总数 -->
  <select id="selectUnReadNoticeAndMessageCount" resultType="java.lang.Long">
	select sum(cnt) from (
	(select count(*) as cnt FROM merchant_notice n left outer join merchant_notice_status s
			on n.id=s.notice_id, merchant_user u where u.id=#{merchantId} and n.notice_time>=u.register_time
	        and (case when s.merchant_id=#{merchantId} then 1 
			else 0
			end) = 0
			order by notice_time desc)
	        union all
	(select count(*) as cnt from merchant_message t where t.recive_user_id=#{merchantId} and message_status=0)) as countdata
  </select>
</mapper>