<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.mdesigner.common.mapper.MerchantMessageMapper">
  <resultMap id="BaseResultMap" type="com.weichu.mdesigner.common.entity.MerchantMessage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="message_title" jdbcType="VARCHAR" property="messageTitle" />
    <result column="recive_user_id" jdbcType="INTEGER" property="reciveUserId" />
    <result column="send_user_id" jdbcType="INTEGER" property="sendUserId" />
    <result column="message_time" jdbcType="TIMESTAMP" property="messageTime" />
    <result column="message_status" jdbcType="INTEGER" property="messageStatus" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.weichu.mdesigner.common.entity.MerchantMessage">
    <result column="message_content" jdbcType="LONGVARCHAR" property="messageContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, message_title, recive_user_id, send_user_id, message_time, message_status
  </sql>
  <sql id="Blob_Column_List">
    message_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.weichu.mdesigner.common.entity.MerchantMessageExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from merchant_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantMessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from merchant_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from merchant_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merchant_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantMessageExample">
    delete from merchant_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weichu.mdesigner.common.entity.MerchantMessage">
    insert into merchant_message (id, message_title, recive_user_id, 
      send_user_id, message_time, message_status, 
      message_content)
    values (#{id,jdbcType=INTEGER}, #{messageTitle,jdbcType=VARCHAR}, #{reciveUserId,jdbcType=INTEGER}, 
      #{sendUserId,jdbcType=INTEGER}, #{messageTime,jdbcType=TIMESTAMP}, #{messageStatus,jdbcType=INTEGER}, 
      #{messageContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.weichu.mdesigner.common.entity.MerchantMessage">
    insert into merchant_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="messageTitle != null">
        message_title,
      </if>
      <if test="reciveUserId != null">
        recive_user_id,
      </if>
      <if test="sendUserId != null">
        send_user_id,
      </if>
      <if test="messageTime != null">
        message_time,
      </if>
      <if test="messageStatus != null">
        message_status,
      </if>
      <if test="messageContent != null">
        message_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="messageTitle != null">
        #{messageTitle,jdbcType=VARCHAR},
      </if>
      <if test="reciveUserId != null">
        #{reciveUserId,jdbcType=INTEGER},
      </if>
      <if test="sendUserId != null">
        #{sendUserId,jdbcType=INTEGER},
      </if>
      <if test="messageTime != null">
        #{messageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageStatus != null">
        #{messageStatus,jdbcType=INTEGER},
      </if>
      <if test="messageContent != null">
        #{messageContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantMessageExample" resultType="java.lang.Long">
    select count(*) from merchant_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.weichu.mdesigner.common.entity.MerchantMessage">
    update merchant_message
    <set>
      <if test="messageTitle != null">
        message_title = #{messageTitle,jdbcType=VARCHAR},
      </if>
      <if test="reciveUserId != null">
        recive_user_id = #{reciveUserId,jdbcType=INTEGER},
      </if>
      <if test="sendUserId != null">
        send_user_id = #{sendUserId,jdbcType=INTEGER},
      </if>
      <if test="messageTime != null">
        message_time = #{messageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageStatus != null">
        message_status = #{messageStatus,jdbcType=INTEGER},
      </if>
      <if test="messageContent != null">
        message_content = #{messageContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.weichu.mdesigner.common.entity.MerchantMessage">
    update merchant_message
    set message_title = #{messageTitle,jdbcType=VARCHAR},
      recive_user_id = #{reciveUserId,jdbcType=INTEGER},
      send_user_id = #{sendUserId,jdbcType=INTEGER},
      message_time = #{messageTime,jdbcType=TIMESTAMP},
      message_status = #{messageStatus,jdbcType=INTEGER},
      message_content = #{messageContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weichu.mdesigner.common.entity.MerchantMessage">
    update merchant_message
    set message_title = #{messageTitle,jdbcType=VARCHAR},
      recive_user_id = #{reciveUserId,jdbcType=INTEGER},
      send_user_id = #{sendUserId,jdbcType=INTEGER},
      message_time = #{messageTime,jdbcType=TIMESTAMP},
      message_status = #{messageStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 以下是自己写的 -->
  <!-- 修改消息状态为已读 -->
  <update id="updateReadStatus">
  	update merchant_message
    set message_status = 1
    where recive_user_id = #{reciveUserId,jdbcType=INTEGER} and id = #{id,jdbcType=INTEGER}
  </update>
</mapper>