<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichu.mdesigner.common.mapper.MerchantGoodsImageMapper">
  <resultMap id="BaseResultMap" type="com.weichu.mdesigner.common.entity.MerchantGoodsImage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="merchant_id" jdbcType="INTEGER" property="merchantId" />
    <result column="image_name" jdbcType="VARCHAR" property="imageName" />
    <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
    <result column="default_display" jdbcType="INTEGER" property="defaultDisplay" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, goods_id, merchant_id, image_name, image_path, default_display, create_time
  </sql>
  <select id="selectByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantGoodsImageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from merchant_goods_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant_goods_image
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merchant_goods_image
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantGoodsImageExample">
    delete from merchant_goods_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weichu.mdesigner.common.entity.MerchantGoodsImage">
    insert into merchant_goods_image (id, goods_id, merchant_id, 
      image_name, image_path, default_display, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{merchantId,jdbcType=INTEGER}, 
      #{imageName,jdbcType=VARCHAR}, #{imagePath,jdbcType=VARCHAR}, #{defaultDisplay,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weichu.mdesigner.common.entity.MerchantGoodsImage">
    insert into merchant_goods_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="imageName != null">
        image_name,
      </if>
      <if test="imagePath != null">
        image_path,
      </if>
      <if test="defaultDisplay != null">
        default_display,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="imageName != null">
        #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="defaultDisplay != null">
        #{defaultDisplay,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weichu.mdesigner.common.entity.MerchantGoodsImageExample" resultType="java.lang.Long">
    select count(*) from merchant_goods_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.weichu.mdesigner.common.entity.MerchantGoodsImage">
    update merchant_goods_image
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="imageName != null">
        image_name = #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        image_path = #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="defaultDisplay != null">
        default_display = #{defaultDisplay,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weichu.mdesigner.common.entity.MerchantGoodsImage">
    update merchant_goods_image
    set goods_id = #{goodsId,jdbcType=INTEGER},
      merchant_id = #{merchantId,jdbcType=INTEGER},
      image_name = #{imageName,jdbcType=VARCHAR},
      image_path = #{imagePath,jdbcType=VARCHAR},
      default_display = #{defaultDisplay,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 以下是自己写的 -->
  <update id="updateDefaultDisByGoodsId">
  	update merchant_goods_image set default_display = 0 where goods_id = #{goodsId} and merchant_id = #{merchantId}
  </update>
</mapper>